@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0) scaleX(0.9);
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0) scaleX(2);
  }
}

.bounceOutRight-enter,
.bounceOutRight-leave-to {
  animation-duration: 1s;
  animation-fill-mode: both;

}

.bounceOutRight-enter-active,
.bounceOutRight-leave-active{
  animation-name: bounceOutRight;

}
