@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0) scaleX(0.9);
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0) scaleX(2);
  }
}

.bounceOutLeft-enter,
.bounceOutLeft-leave-to {
  animation-duration: 1s;
  animation-fill-mode: both;

}

.bounceOutLeft-enter-active,
.bounceOutLeft-leave-active{
  animation-name: bounceOutLeft;

}
