/* roll in animation */
.roll-in-left-enter,
.roll-in-left-leave-to{
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
}

.roll-in-left-enter-active,
.roll-in-left-leave-active{
    transition:  transform 0.3s, opacity 0.5s ;
}
  